[submodule "lib/ace"]
	path = lib/ace
	url = git://github.com/ajaxorg/ace.git
[submodule "lib/cf-archive-title"]
	path = lib/cf-archive-title
	url = git@github.com:crowdfavorite/wp-archive-title.git
[submodule "lib/phpjs"]
	path = lib/phpjs
	url = git@github.com:crowdfavorite/phpjs.git
[submodule "lib/php-markdown"]
	path = lib/php-markdown
	url = git@github.com:crowdfavorite/php-markdown-extra-extended.git
[submodule "lib/twitter-text-js"]
	path = lib/twitter-text-js
	url = git@github.com:crowdfavorite/twitter-text-js.git
[submodule "lib/json-js"]
	path = lib/json-js
	url = git@github.com:crowdfavorite/JSON-js.git
