// --------------------------------------------------
// Global Footer: featured links, site map links, legal
// --------------------------------------------------

footer {
	background: none;
	clear: both;
	height: 30px;
	margin-top: -50px;
	position: relative;
	
	p {
		color: #999;
		text-align: center;
		
		a,
		a:visited {
			color: #888;
			text-decoration: none;
		}
		a:hover,
		a:active {
			color: #777;
			text-decoration: underline;
		}
	}
}

/* 	Pagination Links
------------------------------------------------------- */

.meta-nav {
	display: none;
}
.pagination {
	display: block;

	.nav-previous {
		float: right;
		margin-right: 157px;
		margin-top: 23px;
	}
	.nav-next {
		float: left;
		margin-left: 55px;
		margin-top: 23px;
	}
	a {
		color: $gray;
		font-family: 'SourceSansProRegular', Helvetica;
		font-size: 20px;
		text-decoration: none;
		text-shadow: 1px 1px $white;

		&:visited {
			color: $gray;
		}
		&:hover {
			color: $black;
		}
	}
}
.nav-previous a {
	background: transparent url_ver('../img/arrow-right.png') no-repeat 100% 25%;
	background-size: 10px 15px;
	padding-right: 20px;
}
.nav-next a {
	background: transparent url_ver('../img/arrow-left.png') no-repeat 0% 25%;
	background-size: 10px 15px;
	padding-left: 20px;
}
